<% layout("layouts/boilerplate")%>
  <h3>Edit listing</h3>

  <form method="POST" action="/listings/<%= listing._id%>?_method=PUT">

    <!-- TITLE -->
    <input type="text" name="listing[title]" 
    value="<%= listing.title %>">
    <br/><br/>

    <!-- DESCRIPTION -->
    <textarea name="listing[description]"><%= listing.description %></textarea>
    <br/><br/>

    <!-- IMAGE URL -->
    <input type="text" name="listing[image]" value="<%= listing.image.url %>">
    <br/><br/>

    <!-- PRICE -->
    <input type="number" name="listing[price]" value="<%= listing.price %>">
    <br/><br/>

    <!-- COUNTRY -->
    <input type="text" name="listing[country]" value="<%= listing.country %>">
    <br/><br/>

    <!-- LOCATION -->
    <input type="text" name="listing[location]" value="<%= listing.location %>">
    <br/><br/>

    <button>Edit</button>
  </form>

</body>
</html>
